* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial,Helvetica,sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul, li {
    list-style: none;
}

th {
    text-align: left;
}

td {
    text-align: left;
}

/* tbody td {
    text-align: center;
} */
  
tfoot th {
    text-align: right;
}

header.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 4rem;

    background-color: green;
}

header.main-nav > .left-icons {
    background-color: red;
    display: flex;
    gap: 2rem;
}


header.main-nav > nav > ul {
    display: flex;
    gap: 2rem;
}

/* Background Layout Helpers */
main {
    background-color: blue;
}

main > .content > .category-list {
    background-color: brown;
}

main > .content > .product-display {
    background-color: white;
}

main > .content > .order-display {
    background-color: grey;
}

footer.main-footer {
    background-color: blue;
}

main > .content {
    height: 100%;
    background-color: white;
    min-height: 100vh;

    display: grid;
}

main > .content > section {
    position: relative;
}

main > .content > section > h2 {
    position: absolute;
    top: 50%;
    right: 50%;
    background-color: red;
}

/* Background layouts */
main > .content.l-ecommerce {
    grid-template-columns: 20rem 1fr 20rem;
}

/* Default Product List styling */
main > .content.l-ecommerce > .product-display > ul.product-list > li > section {
    /* display: */
}

section.product-display {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/* Product Table */
table.product-list {
    table-layout: fixed;
    text-indent: initial;
    /* width: 100%; */
    border: 1px solid darkgrey;
    /* margin: 2rem; */
    border-collapse: collapse;
    position: relative;
}

/* Table column sizing */
.product-select.product-list-header{
    width: 5%;
}
.product-select {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}
.product-sku.product-list-header {
    width: 10%;
}

.product-name.product-list-header {
    width: 20%;
}

.product-manufacturer.product-list-header {
    width: 10%;
}

.product-category.product-list-header {
    width: 10%;
}

.product-price.product-list-header {
    width: 20%;
}


.product-msrp.product-list-header {
    width:10%;
}
.product-msrp {
    text-align: right;
}


.product-available {
    text-align: right;
}


/* Header styling */
table.product-list > thead > tr {
    height: 2rem;
}
table.product-list > thead > tr > th {
    width: 100%;
    color: white;
}

/* Sticky header */
table.product-list > thead > tr > th {
    top: 0;
    position: sticky;
    border: 1px solid gray;
    background-color: rgb(78, 78, 78);
}

/*  Body Styling */
table.product-list > tbody > tr > th {
    height: 40px;
}

/*  Border Colors */
table.product-list > tbody > tr > th, table.product-list > tbody > tr > td {
    border-left: 1px solid gray;
}

table.product-list > tbody > tr {
    border-bottom: 1px solid lightgray;
}

table.product-list > tbody > tr:last-child {
    border-bottom: 1px solid darkgray;
}

/* Product List */
.product-list__header-with-controls {
    /* display: flex; */
}

.product-list__header-with-controls > ul {
    font-size: xx-small;
}

/* .product-list__header-control- */
/* Zebra Striping */
table.product-list > tbody > tr:nth-child(odd) {
    background-color: #f2f1f1;
}

table.product-list > tbody > tr:nth-child(even) {
    background-color: white;
}



/* Cell padding */
table.product-list > tbody > tr > td, table.product-list > thead > tr > th, table.product-list > tbody > tr > th {
    padding: 1rem;
}

/* Price Breakdown Table component */


.price-breakpoint-table {
    height: 100%;
    width: 100%;

}

.price-breakpoint-table > thead > tr > th {
    text-align: center;
}

.price-breakpoint-table > tbody > tr > td {
    text-align: center;
}

/* Bread crumbs */
ol.breadcrumbs {
    display: flex;
    gap: 1rem;
}

/* Top Article Styling */
article.manufacturer {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 1rem;
    
    padding-bottom: 2rem;
    border-bottom: 1px solid grey;
    margin-bottom: 3rem;
}



table.manufacturer-info >  tbody > tr > th, table.manufacturer-info > tbody > tr > td {
    padding: 0 1rem;
}

/* Search Component */
.search {
    background-color: yellow;
}

/* Filter Component */
.filters {
    background-color:aquamarine;
}
/* Footer */
footer.main-footer {
    padding: 4rem;
}